/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 * ---- Colors ---- 
 * 
 * Rausch [pink] #FF5A5F
 * Babu [green] #00A699
 * Dark [green] #008489
 * Arches [orange] #FC642D
 * Hof [dark gray] #484848
 * Foggy [light gray] #767676
 * Very Light [grey] #D3D3D3
 * Light Teal [calender-date :hover] #CCEEEB
 * Teal [date-picker :focused] #99EDE7
 */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

html {
    font-family: Montserrat;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
}

.app-container {
    height: 100%;
}

li {
  list-style: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}
 
// div {
//   border: red 1px solid;
// }

#map-container {
  height: 500px;
  width: 500px;
}