.arena-details-text-container {
    display: flex;
    width: 600px;
    margin: 0 auto;
    flex-direction: column;
    margin-right: 35px;
}

.arena-details-name {
    display: flex;
    justify-content: space-between;
}

.arena-details-name div:first-child {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 15px;
}

.arena-title-city p {
    font-size: 16px;
    padding-bottom: 25px;
}

.arenas-show-key-list {
    width: 50%;
}

.arenas-show-key-list ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.arenas-show-key-list li {
    padding-bottom: 20px;
    font-size: 16px;
    color: rgb(113,113,113);
}

.arena-gm-descriptions {
    padding: 20px 0;
    border-bottom: solid 1px rgb(235, 235, 235);
    border-top: solid 1px rgb(235, 235, 235);
}

.arena-gm-title {
    font-weight: bold;
    font-size: 16px;
    padding-top: 10px;
}

.arena-gm-title > i {
    padding-right: 10px;
}

.arena-gm-expand {
    font-size: 14px;
    padding-left: 27px;
    color: rgb(113,113,113);
}

.arena-long-description-container {
    padding: 25px 0;
    border-bottom: solid 1px rgb(235, 235, 235);
}

.arena-long-description-contact-host {
    padding-top: 10px;
}

.amenities-container {
    padding-top: 25px;
}

.amenities-title {
    font-weight: bold;
}

.amenities-container li > i {
    padding-right: 5px;
}

.amenities-list-container {
    width: 50%;
}

.amenities-list-container {
    padding-top: 15px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.amenities-list-container i {
    padding-right: 5px;
}


// ----------PICTURES

.arena-pics {
    height: 600px;
    width: 100%;
    display: flex;
    border: 1px black solid;
}

.arena-main-pic {
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.arena-main-pic img {
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: all .3s ease;
    object-fit: cover;
}

.arena-main-pic img:hover {
    // display: flex;
    transition: .5s height ease;
    height: 105%;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.arena-sub-pics {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 50%;
}

.arena-sub-pic {
    height: 300px;
    width: 50%;
    overflow: hidden;
}

.arena-sub-pic img {
    height: 300px;
    width: 100%;
    border: solid 1px rgb(72, 72, 72);
    cursor: pointer;
    transition: all .3s ease;
    object-fit: cover;
}

.arena-sub-pic img:hover {
    // transform: scale(1.1);
    display: flex;
    transition: .5s height ease;
    height: 110%;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
}

.search-map-container-show {
    max-height: 100%;
    width: 100%;
}

.arena-show-map {
    display: flex;
    width: 600px;
    margin: 0 auto;
    padding-top: 30px;
}

.gm-pic {
    height: 50px;
    width: 50px;
}