// Place all the styles related to the Arenas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.arenas-map-container {
    min-height: 95vh;
    grid-gap: 5px;
    padding: 20px 35px 0 35px;
    display: flex;
}

.search-map-container {
    max-height: 100vh;
    width: 100%;
    display: flex;
    position: sticky !important;
    top: 85px;
}

.arena-index-item {
    padding: 20px 0px;
    border-bottom: 1px solid rgb(235,235,235);
    display: flex;
    margin-right: 20px; 
}

.arena-index-item:last-child {
    border-bottom: none;
}

.arenas-search-list > li {
    max-height: 200px;
}

.key-list ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.key-list:not(:first-child) {
    width: 70%;
    padding: 10px 0 0 10px;
}

.key-list:first-child {
    padding-left: 10px;
}


.key-list li {
    font-size: 12px;
    color: rgb(113,113,113);
}

.arenas-index-title-list li:last-child {
    font-weight: bold;
    color: rgb(34, 34, 34);
}

.arenas-index-arena-name {
    font-size: 20px;
    padding-left: 10px;
}

.arenas-search-list {
    display: inline;
}
.arenas-search-list img {
    border-radius: 5px;
    height: 200px;
    width: 300px;
}

.arena-index-list-container {
    display: flex;
    width: 100%;
    position: relative;
}

.arenas-container {
    width: 800px;
}

.arenas-index-list{
    width: 100%;
}

.arenas-index-title-list li i {
    color: rgb(245,61,78);
}

.arenas-index-pricing {
    display: flex;
    bottom: 0%;
    right: 0%;
    position: absolute;
}

.dollars {
    font-weight: bold;
    padding-right: 3.5px;
}

button.gm-ui-hover-effect {
    display: none;
    visibility: hidden;
}

.gm-style-iw {align-items:center;}

