.arena-show-container {
    display: flex;
    // justify-content: center;
    width: 1000px;
    margin: 0 auto;
}

.arenas-booking-form {
    height: 500px;
    width: 300px;
}

.arenas-booking-container {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 670px;
    // padding-right: 500px;
    // bottom: 300px;
}