/* Modals */

 .modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    width: 550px;
    min-height: 300px;
}

.modal-form {
    height: 100%;
    padding: 25px 35px;
}

.modal-close-x {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    cursor: pointer;
    opacity: .5;
    font-size: 25px;
    font-family: sans-serif;
    padding: 5px;
    width: 100%;
    font-stretch: expanded;
}

.signup-form {
    font-size: 22px;
    display: flex;
    width: 100%;
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: none;
}

.modal-form input {
    margin-bottom: 10px;
}
.modal-container {
    width: 100%;
    height: 100%;
}

.modal-submit-button {
    font-size: 22px;
    width: 100%;
    background-color: rgb(0, 86, 163);
    color: white;
    height: 50px;
    border-radius: 10px;
}

.session-link-text {
    font-size: 20px;
}

.session-link-button {
    cursor: pointer;
    font-family: inherit;
    padding: 0px;
    border: none;
    font-size: 20px;
}

.demo-login-button button {
    font-size: 22px;
    width: 100%;
    background-color: rgb(0, 86, 163);
    color: white;
    height: 50px;
    text-align: center;
    border-radius: 10px;
}

.hr-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0px 0 10px 0;
    color: #A2A2A2;
    font-size: 15px;
    align-items: center;
}

hr {
    width: 46%;
    border: 0.5px solid #DDDDDD;
}

