/* Modals */

 .modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    width: 570px;
    min-height: 450px;
}

.modal-form-container {
    height: 100%;
    padding: 25px 35px;
}

.modal-close-x {
    display: flex;
}

.sign-up-header {
    display: flex;
    margin: 0 auto;
}

.modal-close-x div:first-child {
    cursor: pointer;
    padding: 5px;
    font-stretch: expanded;
    font-size: 20px;
}

.signup-form {
    font-size: 18px;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 15px 0px 15px 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-shadow: none;
    box-sizing: border-box;
}

.modal-container {
    padding-bottom: 25px;
}

.modal-submit-button {
    cursor: pointer;
    font-size: 17px;
    width: 100%;
    background-color: rgb(0, 86, 163);
    color: white;
    height: 50px;
    border-radius: 10px;
}

.session-link-text {
    font-size: 16px;
}

.session-link-button {
    cursor: pointer;
    border: none;
    font-size: 16px;
    color: rgb(202, 6, 41);
    text-decoration: underline;
}

.demo-login-button button {
    font-size: 22px;
    width: 100%;
    background-color: rgb(202, 6, 41);
    color: white;
    height: 50px;
    text-align: center;
    border-radius: 10px;
}

.hr-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 0 20px 0;
    color: #A2A2A2;
    font-size: 15px;
    align-items: center;
}

hr {
    width: 46%;
    border: 0.5px solid #DDDDDD;
}

.session-link-text {
    padding-top: 10px;
}

.firstname-container {
    padding-bottom: 0 !important;
}

.firstname {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom: none !important;
}

.lastname {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.message {
    font-size: 12px;
    padding: 3px 0 0 5px;
}

.signup-error {
    font-size: 12px;
    padding: 3px 0 0 5px;
    color: #C13515;
}

.rederrorclass {
    background-color: #FFF8F6;
    border-color: #C13515;
    color: #C13515;
}

.policy {
    font-size: 12px;
    padding: 3px 0 3px 5px;
}

.sign-up-header {
    font-size: 20px;
}

.login-error {
    font-size: 12px;
    padding: 3px 0 10px 5px;
    color: #C13515;
}