 /* Nav */
 .fixed-nav-bar {
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: 50px;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 9999;
     width: 100%;
     background-color: white;
     border-bottom: 10px pink solid;
 }

 .login-signup {
     display: inline-block;
     padding: 0px 5px;
 }

 .form-button {
     padding: 0px 10px 0px 10px;
     font-size: 18px;
 }

 .form-button:hover {
     padding-bottom: 10px;
     border-bottom: 0.5px black solid;
 }

 .logo {
     text-decoration: none;
     font-size: 40px;
     font-weight: bold;
 }