 /* Nav */
 
//  .routes {
//      margin-top: 79px;
//  }
 
 .fixed-nav-bar {
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: 79px;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 9999;
     width: 100%;
     background-color: transparent;
     padding: 0px 80px;
 }

 .login-signup {
     padding: 0px 80px;
 }

 .form-button::before {
     filter: blur(5px);
 }

 .form-button {
     padding: 0px 10px 0px 10px;
     font-size: 18px;
     color: white;
 }


 .form-button:hover {
     border-radius: 20px;
     height: 50px;
     background-color: rgba(223, 223, 223, 0.612)
 }

 .logo {
     text-decoration: none;
     font-size: 40px;
     font-weight: bold;
     color: white;
 }

