.splash-container {
    display: flex;
    padding: 100px 0px 0px 85px;
    background-image: url("https://hoopsbnb-seed.s3.amazonaws.com/artsy_ball_2.jpg");
    background-size: cover;
    height: 900px;
}

.splash-form-container {
    padding: 35px;
    background-color: white;
    height: 480px;
    width: 441px;
    border-radius: 10px;
}

.splash-form-title {
    font-weight: bold;
    line-height: 1.5;
    display: flex;
    padding: 10px 0px;
    font-size: 23px;
    align-items: center;
    width: 100%;
}

.splash-search-label {
    display: block;
    font-size: 16px;
    padding: 5px;
}

.splash-search-input {
    padding: 12px 0;
    border-radius: 5px;
    width: 100%;
    border: 1px solid lightgray;
    font-size: 15px;
}


.splash-search-submit-button-div {
    float: right;
}

.splash-search-submit-button {
    font-weight: bold;
    margin: 0px auto;
    background-color: rgb(202, 6, 41);
    font-size: 16px;
    color: white;
    padding: 5px 25px;
    border-radius: 7px;
    height: 45px;
}
