.splash-container {
    display: flex;
    position: relative;
    padding: 100px 0px 0px 85px;
    background-image: image-url("td_garden.jpg");
    background-size: cover;
    height: 900px;
}

.splash-form-container {
    padding: 35px;
    background-color: white;
    height: 480px;
    width: 441px;
    border-radius: 10px;
}

.splash-form-title {
    font-weight: bold;
    line-height: 1.5;
    display: flex;
    padding: 10px 0px;
    font-size: 23px;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
}

.splash-search-label {
    display: inline-block;
    font-size: 16px;
    padding-bottom: 10px;
}


.splash-form-container input {
    margin: 15px;
}

.splash-search-submit-button-div {
    float: right;
    display: inline;
}

.splash-search-submit-button {
    font-weight: bold;
    margin: 0px auto;
    background-color: rgb(202, 6, 41);
    font-size: 16px;
    color: white;
    padding: 5px 25px;
    border-radius: 7px;
    height: 45px;
}